@charset "UTF-8";
/* ========================================
    reset css
========================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

a:focus {
  outline: none;
}

/* ========================================
	clearfix
========================================= */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* ========================================
	all
========================================= */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #555;
  font-family: "メイリオ", Meiryo;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

a {
  color: #555;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.inner {
  margin: 0 auto;
  width: 80%;
}

.ttl01 h2 {
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.ttl01 h2 span {
  display: block;
  font-size: 0.8rem;
}

.ttl02 h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.btn {
  background-color: #bfe2dc;
  border: 1px solid #bfe2dc;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 12px 30px;
}

.btn:hover {
  background-color: transparent;
  color: #bfe2dc;
}

/* ========================================
	header
========================================= */
header {
  background-color: white;
  height: 5.5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .inner {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

header .sp_gnav_btn {
  display: none;
}

header h1 {
  -ms-background-position-y: center;
  background-image: url(../img/header_pic.png);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  font-family: 'Damion', cursive;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 5.5rem;
}

header h1 a {
  display: inline-block;
  padding-left: 60px;
}

nav ul {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

nav ul li {
  padding: 0 30px;
}

nav ul li a {
  display: block;
  font-family: 'Damion', cursive;
  font-size: 1.4rem;
  text-align: center;
}

nav ul li a span {
  color: #5f8180;
  display: block;
  font-size: 0.7rem;
  text-align: center;
}

/* ========================================
	main visual
========================================= */
#main_v {
  height: 100vh;
  position: relative;
  width: 100%;
}

#main_v img {
  -o-object-fit: cover;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

#main_v h2 {
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
  left: 15%;
  position: absolute;
  text-align: center;
  top: 30%;
}

#main_v .scrl_btn {
  -webkit-transform: translate(-50%, -50%);
  bottom: -30px;
  display: inline-block;
  font-family: 'Damion', cursive;
  font-size: 1.2rem;
  left: 50%;
  padding-top: 70px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#main_v .scrl_btn span {
  -webkit-animation: spin 1.5s infinite;
  -webkit-transform: rotateZ(-45deg);
  animation: spin 1.5s infinite;
  border-bottom: 3px solid #555;
  border-left: 3px solid #555;
  height: 24px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 10px;
  transform: rotateZ(-45deg);
  width: 24px;
  z-index: -1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
}

/* ========================================
	About
========================================= */
#about .inner {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 0;
}

#about .about_img {
  height: auto;
  width: 50%;
}

#about .about_img img {
  -o-object-fit: contain;
  display: block;
  height: auto;
  object-fit: contain;
  width: 100%;
}

#about .about_txt {
  height: auto;
  margin-top: -30px;
  width: 50%;
}

#about .about_txt .ttl01 h2 {
  margin: 30px 0;
  text-align: center;
}

#about .about_desc {
  padding: 0 60px;
}

/* ========================================
	Skill
========================================= */
#skill {
  background-color: #bfe2dc;
}

#skill .inner {
  padding: 60px 0 30px 0;
}

#skill .ttl01 {
  margin-bottom: 60px;
  text-align: center;
}

#skill .slill_list {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px;
}

#skill .slill_list li {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  justify-content: space-between;
  width: 48%;
}

#skill .skill_icon {
  text-align: center;
  width: 30%;
}

#skill .skill_icon span {
  color: #fff;
  display: inline-block;
  font-size: 5rem;
  padding-top: 10px;
}

#skill .skill_desc {
  padding: 10px 20px 10px 10px;
  width: 70%;
}

#skill .skill_desc .ttl02 {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

#skill .skill_desc .ttl02 h3 {
  padding-bottom: 16px;
}

#skill .skill_desc .ttl02 .star p {
  font-size: 1.2rem;
}

/* ========================================
	Works
========================================= */
#works {
  width: 100%;
}

#works .inner {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 0;
}

#works .ttl01 {
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

#works .works_list {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#works .works_item {
  height: 400px;
  overflow: hidden;
  width: 30%;
}

#works .works_item img {
  width: 100%;
}

/* ========================================
	Blog
========================================= */
#blog .inner {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 0 90px 0;
}

#blog .blog_img {
  height: auto;
  width: 50%;
}

#blog .blog_img img {
  -o-object-fit: contain;
  display: block;
  height: auto;
  object-fit: contain;
  width: 100%;
}

#blog .blog_txt {
  height: auto;
  width: 50%;
}

#blog .blog_txt .ttl01 h2 {
  margin: 30px 0;
  text-align: center;
}

#blog .blog_desc {
  padding: 0 60px;
}

#blog .blog_desc p {
  margin: 30px 0;
}

#blog .btn_wrapper {
  text-align: center;
}

#blog .btn i {
  display: inline-block;
  padding-right: 10px;
}

/* ========================================
	Services
========================================= */
#services {
  background-image: url(../img/study_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

#services .inner {
  padding: 60px 0;
}

#services .ttl01 {
  margin-bottom: 40px;
  text-align: center;
}

#services .services_wrapper {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  height: auto;
  padding: 5%;
  width: 100%;
}

#services .services_wrapper ul {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

#services .services_wrapper ul li {
  height: 320px;
  width: 45%;
}

#services .ttl02 {
  background-image: url(../img/126022_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
  padding-left: 60px;
  width: 100%;
}

#services .services_desc {
  margin-top: 20px;
  padding: 20px 30px 20px 20px;
}

#services .services_moreinfo {
  padding-left: 20px;
  padding-top: 10px;
}

#services .-mb {
  margin-bottom: 2em;
}

/* ========================================
	footer
========================================= */
footer {
  background-color: #bfe2dc;
  width: 100%;
}

footer .copy {
  color: #fff;
  font-size: 0.8rem;
  padding: 20px 0;
  text-align: center;
}

/* ========================================
	others
========================================= */
.floating {
  bottom: 8px;
  display: none;
  position: fixed;
  right: 8px;
}

.floating a {
  background: #807769;
  color: #fff;
  display: block;
  height: 42px;
  opacity: 0.6;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 42px;
}

.floating a:hover {
  opacity: 1;
}

.-space {
  margin-bottom: 1em;
}

/* ========================================
	responsive
========================================= */

/*#f29ea0 :濃いピンク
#f9cfce :薄いピンク
#807769 :茶色
#5f8180 :濃い緑
#5f8180 :黄色
#9eccdd :水色
*/

@media screen and (max-width: 959px) {
  #about .about_desc {
    padding: 0 50px;
  }
  #skill .skill_desc .ttl02 {
    display: block;
  }
  #skill .skill_desc .ttl02 h3 {
    padding-bottom: 0;
  }
  #skill .skill_desc .ttl02 .star {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.0rem;
    overflow: hidden;
    width: 100vw;
  }
  header h1 a {
    padding-left: 0;
  }
  header .inner {
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
  }
  header .sp_wrapper {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    height: 100%;
    line-height: 4.0rem;
    padding-left: 10%;
    width: 70%;
  }
  header h1 a {
    font-size: 1.6rem;
  }
  header .sp_gnav_btn {
    display: block;
    line-height: 4.0rem;
    padding-top: 5px;
    text-align: center;
    width: 20%;
  }
  header .sp_gnav_btn::before {
    content: '\f0c9';
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 4.0rem;
    text-align: center;
  }
  .spnav {
    /*overflow-y: scroll;*/
    background-color: #fff;
    height: 100vh;
    max-height: 667px;
    overflow: hidden;
  }
  .spnav .sp_gnav_btn::before {
    content: '\f00d';
  }
  .spnav nav ul {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 79%;
  }
  .spnav nav ul li {
    border-bottom: 2px solid #bfe2dc;
    width: 100%;
  }
  .spnav nav ul li a {
    font-size: 1.6rem;
    padding: 24px 0 11px 0;
    text-align: left;
  }
  .spnav nav ul li a span {
    display: inline-block;
    font-size: 0.8rem;
    margin-left: 30px;
  }
  #main_v img {
    margin-right: -50%;
    position: absolute;
    right: 45%;
    top: 0;
    width: 200%;
    /*object-fit: contain;*/
  }
  #main_v h2 {
    -webkit-transform: translate(-50%, 0);
    font-size: 2rem;
    left: 50%;
    position: absolute;
    top: 15%;
    transform: translate(-50%, 0);
  }
  #about .inner {
    -ms-flex-wrap: wrap-reverse;
    -o-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    padding-top: 90px;
  }
  #about .about_img {
    height: auto;
    width: 100%;
  }
  #about .about_txt {
    height: auto;
    margin-bottom: 60px;
    width: 100%;
  }
  #about .about_desc {
    padding: 0;
  }
  #skill .slill_list {
    margin: 0;
  }
  #skill .slill_list li {
    margin-bottom: 30px;
    width: 100%;
  }
  #works .works_list {
    display: block;
  }
  #works .works_item {
    height: 350px;
    width: 100%;
  }
  #works .-mb {
    margin-bottom: 60px;
  }
  #blog .inner {
    -ms-flex-wrap: wrap-reverse;
    -o-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    padding-top: 90px;
  }
  #blog .blog_desc {
    padding: 0;
    text-align: center;
  }
  #blog .blog_desc p {
    margin-bottom: 60px;
  }
  #blog .blog_img {
    margin-bottom: 30px;
    width: 100%;
  }
  #blog .blog_txt {
    width: 100%;
  }
  #services {
    background-position: center center;
    width: 100%;
  }
  #services .services_wrapper {
    padding: 30px 12px 12px;
  }
  #services .services_wrapper ul {
    display: block;
  }
  #services .services_wrapper ul li {
    height: auto;
    width: 100%;
  }
  #services .services_desc {
    margin-top: 0;
    padding-bottom: 40px;
  }
  #services .ttl01 {
    margin-bottom: 30px;
  }
  #services .-mb {
    margin-bottom: 1em;
  }
  #services hr {
    display: none;
  }
  #services .services_moreinfo {
    display: none;
  }
}
